<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
  
    <main>
    <h1>login</h1>
   
    <form class="container" action="/auth/api/v1/login" method="POST">
       
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">login</button>
    </form>
    <p>New user ? <a href="/signup">Register first </a></p><br>

    <p>for demo testing  :  email:  2nd@mail.com , password :  2nd</p>
</main>
    
</body>
</html>