<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
    <h1> write something </h1>
    <form class="container"action="/post/api/v1/create" method="POST">
        <input type="text" name="title" placeholder=" title of post">
        <input type="text" name="description" placeholder=" add description here">
        <button type="submit">post</button>
    </form></main>
</body>
</html>