.sidebar{
    flex: 1;
   
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top:50px
    
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: rgb(241, 247, 247);

}
::-webkit-scrollbar-thumb{
    background-color: rgb(192, 186, 186);
}
.sidebarWrapper{
    padding: 1.5rem;
   
  
}
.sidebarList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.sidebarListItemText{
    font-size: 18px;
    font-weight: 150;
}
.sidebarIcon{
    margin-right: 0.5rem;

    
}
.sidebarButton{
    width: 3rem;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 600;

}
.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;

}

