.rightbar{
    flex: 2.5;
    position: relative;
  
  
   
}
.rightbarHome{
    position: fixed;
   width: 300px;
    overflow-y: scroll;
    padding-right: 10px;
    margin: 0;
    height: 100vh;
    list-style: none;

}::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: rgb(241, 247, 247);

}
::-webkit-scrollbar-thumb{
    background-color: rgb(192, 186, 186);
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
    margin-left :2rem ;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}
.birthdayText{
    font-size: 15px;
    font-weight: 300;
}
.rightbarAd{
    width:300px;
    
    border-radius: 10px;
    margin: 30px 0;
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    position: sticky;
    overflow-y: scroll;
    padding-right: 10px;
    margin: 0;
    height: 100vh;
    list-style: none;
}
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(11, 221, 22);
    position: absolute;
    top: -2px;
    right:0;
    border: 2px solid white;
}
.rightbarUsername{
    font-weight: 600;
}
.rightbarTitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color:#555;
}
.rightbarInfoValue{
    font-weight: 300;
}
.rigthbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.rightbarFollowingImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.peopleAboute{
 margin: 10px  0px;
 padding: 0 0px;
 font-size: 20px;
}
.people{
    display: flex;
   
    flex-direction: column;
  background-color: #c5e3f1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
 
}


