main{
    padding: 50px 30vw;margin: 0;
    z-index: -1;
    background-color: aquamarine;

}
.post{
    background-color: rgb(5, 5, 54);
    color: rgb(229, 240, 240);
    border-radius: 5px;
    padding: 20px 20px;
    margin: 1rem 0;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 2px;
    
}
.container{
    background-color: rgb(5, 5, 54);
    color: rgb(229, 240, 240);
    border-radius: 5px;
    padding: 20px 20px;
    margin: 1rem 0;
}